{{- $doFollowSuffix := "#?" -}}
{{- $linkurl := .Destination -}}
{{- $rel := "" -}}
{{- $targetval := "_self" -}}

{{- if strings.HasPrefix $linkurl "http" -}}
  {{- $targetval = "_blank" -}}
  {{- $rel = "noopener noreferrer" -}}
  {{- if not (strings.HasSuffix $linkurl $doFollowSuffix) }} 
    {{- $rel = printf "%s %s" $rel "nofollow" -}}
  {{- else -}}
    {{- $linkurl = strings.TrimSuffix $doFollowSuffix $linkurl -}}
  {{- end -}}
{{- end -}}
<a href="{{ $linkurl | safeURL }}"
  {{- with .Title}} title="{{ trim . " " }}"{{ end -}}
  {{- with $rel}} rel="{{ trim . " " }}"{{ end -}}
  {{- with $targetval}} target="{{ trim . " " }}"{{ end -}}
>{{ .Text | safeHTML }}</a>
