/* Ugly patch for pagespeed accessibility tab concerns, inspired by .visually-hidden from Bootstrap */
.main-menu div > nav > a[href="https://github.com/gustaveWPM"] > p {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.wpm.color-preview {
  background-color:#000;
  padding: 5px;
  border-radius:2px;
  font-weight:500
}

.wpm.color-preview.dark-color-preview {
  background-color:#fff;
}

.wpm.site-author-links-wrapper {
  margin-bottom: 0
}

.wpm.site-author-links > a {
  font-size: 3em;
  transform: translateY(20px);
  filter: drop-shadow(0 0 7px rgba(0,0,0,0.4));
  transition: all 250ms ease-in-out
}

.wpm.site-author-links-wrapper ~ .prose {
  font-size: 99em !important
}

.wpm.blog-post-illustration-figure.is-resized img {
  max-height: 400px !important;
  margin: auto
}

.wpm.blog-post-illustration-figure.centered-figcaption figcaption {
  text-align: center
}

.wpm.fake-figcaption {
  font-size: .875em;
  color: var(--tw-prose-captions)
}

.prose h5, .prose h6 {
  margin-top: 35px;
  font-weight: 500;
  text-decoration: underline;
}

@media (hover:hover) {
  .wpm.site-author-links > a:hover {
    transform: scale(0.99) translateY(20px);
    filter: drop-shadow(0 0 7px rgba(0,0,0,0));
  }
}
